body{
    width: 100%;
    background-color: #FAFAFA;
    margin: 0 auto;
}

main{
    width: 100%;
}

.gallery {
    background: red;
    margin-top: 3em;
    height: 400px;
}

.gallery-cell {
    width: 20%;
    height:400px;
    margin: 0 1%;
}

.posterSize{
    height: 400px;
}

/* view/hide dots */
.flickity-page-dots {
    display: none;
}
/* 



    /*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
    .card {
      display: inline-block;
      margin: 10%;
    }
.modal{
    z-index: 100;
}
.modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 0px 20px 0px 20px;
    height: 250px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

} 
