body{
    width: 100%;
    max-width: 1200px;
    background-color: #FAFAFA;
    margin: 0 auto;
}
.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 2% 5%;
}
    .card {
      display: inline-block;
      margin: 10%;
    }
.modal{
    z-index: 100;
}
.modal-content{
    background-color: white;
    height: 250px;
}